.logo-container{
	width: 200px;
	
}

.logo{
	margin-left: auto;
	margin-right: auto;
	width:150px;
	height:150px;
	background-image: url('../images/logo150.png');
}

.panel-login-registration{
	background-color: #FEFEFE;
	margin:0px auto;
	margin-bottom: 50px;

}
.login-form-panel{
	
}

.login-form-title-panel{
	background-color: #212429;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#eee;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
}
.login-form{
	background-color:#2f363e;
	height:100%;
	padding-bottom: 10px;
	
}

.registration-form-panel{
}
.registration-form-title-panel{
	background-color: #212429;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#eee;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
}
.registration-form{
	background-color:#2f363e;
	height:100%;
	padding-bottom: 10px;
}

.form-basic-input{
	outline: 0px;
	color:#00aad4;
	width:100%;
	border: 0px;
	margin-top:30px;
	background-color: #1c2023;
	height:30px;
	padding-left: 10px;
}
.form-basic-input:hover, .form-basic-input:focus{
	background-color: #212429;
	outline: 0px;
}

.form-basic-submit{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 5px;
	margin-top: 50px;
	background-color: #212429;
	height: 40px;
	text-align: center;
	color:#eee;
}
.form-basic-submit:hover{
	background-color: #00aad4;
}
.login-submit{
	margin-top: 50px;
}

.form-basic-inputs-container{
    margin: 0 auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
}
.form-basic-inputs-container[class~=login]{
    margin: 0 auto;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
}

.inline-right{
	margin-left:6px;
}
.inline-left{
	margin-right:10px;
}
.single-line{
	width:420px;
}
.or-seperator-vertical{
	color:#FEFEFE;
	text-align: center;
	width:50px;
	
	height:50px;
	background-color: #2f363e;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	font-variant: small-caps;
	font-size: 20px;
	font-weight: 700;
	padding-top: 8px;
	margin-top: 186px;
}

.or-seperator-horizontal{
	color:#FEFEFE;
	text-align: center;
	width:50px;
	height:50px;
	background-color: #2f363e;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	font-variant: small-caps;
	font-size: 20px;
	font-weight: 700;
	padding-top: 8px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.login-image-container{
	background-color: #212429;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	margin-bottom: 0px;
}
.login-image{
	background-image: url('../images/network60.png');
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 100px;
	
	
}