
.logo-container{
	width: 200px;
	margin-top: -50px;
}

.logo{
	margin-left: auto;
	margin-right: auto;
	width:200px;
	height:200px;
	background-image: url('../images/logo200.png');
}

.panel-main{
	background-color: #FEFEFE;
	min-height:800px;
	margin-top: 0px;
	margin-bottom: 50px;
}
.panel-main-container{
	background-color: #212429;
}
.content{
	margin-left: 200px;
	background: #FEFEFE;
}
.content[class~=sidebar-hidden]{
	margin-left: 0px;
}

.topbar-panel{
	background-color: #2f363e;
	height:50px;
}
.menu-button{
	float:left;
	background: url('../images/menuButton50.png');	
	background-position: -50px 0px;
	height:50px;
	width: 50px;
}
.menu-button[class~=sidebar-hidden]{
	background-position: 0px 0px;
}
.menu-button:hover{
	background-color: #212429;
}

.feed-title{
	margin-top: 0px;
	text-align: center;
	color:#fefefe;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 12px;
}

.search-panel{
	
}
.search-input-container{
	box-sizing: border-box;
	background-color: green;
	margin-right: 40px;
	margin-left: 10px;
}
.search-input{
	width: 100%; 
	box-sizing: border-box;
	background-color: #1c2023;
	border: none;
	height:30px;
	margin-top: 10px;
	padding-left: 10px;
	float: left;
	color:#00aad4;
}
input.search-input:focus {
	outline-width: 0;
}
.search-button{
	background-color: #00aad4;
	float: left;
	width:30px;
	height:30px;
	margin-top:10px;
	background-image: url('../images/magnifier12.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}
.search-button:hover{
	background-color: #1c2023;
}

/*STORY*/

.news-panel{
	padding-bottom: 20px;
}
.story-empty{
	font-family: 'Oswald', sans-serif;
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 20px;
}

.story-item-container{
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.story-item{
	border: 1px solid #ddd;
	background-color: #eee;
	

}

.story-item-title-container{
	height: 50px;
	background-color: #ddd;

}
.story-item-title{
	height:50px;
	max-width: 75%;
	padding-left: 10px;
	padding-top: 12px;
	margin-top: 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.story-item-time{
	float:right;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	padding-top: 15px;
	padding-right:10px;
}
.story-item-time-bottom{
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	padding-top: 15px;
	padding-right:10px;
	text-align: right;
	padding-bottom: 10px;
}
.story-item-actions{
	float: right;
	height:50px;
	width: 81px;
	border-left: 1px solid #eee;
}
.story-item-action{
	text-align: center;
	float: left;
	width:40px;
}

.love-action{
	width:20px;
	height:20px;
	background-image: url('../images/actions20.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 15px;
	margin-left: 10px;
}
.love-action[class~=selected], .love-action:hover{
	background-position: -20px 0px;
}
.love-action[class~=selected]:hover{
	background-position: 0px 0px;
}

.hate-action{
	width:20px;
	height:20px;
	background-image: url('../images/actions20.png');
	background-repeat: no-repeat;
	background-position: 0px -20px;
	margin-top: 15px;
	margin-left: 10px;
}
.hate-action[class~=selected], .hate-action:hover{
	background-position: -20px -20px;
}
.hate-action[class~=selected]:hover{
	background-position: 0px -20px;
}

.story-item-preview{
	padding: 10px;
	font-size: 15px; 
}

/*SIDEBAR*/
.sidebar{
	background-color: #212429;
	width:200px;
	position: absolute;
    top: 0; bottom: 0; left:0;
	z-index: 10;
	overflow-y: overlay;
	overflow-x: hidden;
}
.sidebar[class~=sidebar-hidden]{
	visibility: hidden;
}
.sidebar::-webkit-scrollbar{
	width:0px;
}
.sidebar-close{
	height: 50px;
	width: 50px;
	background: url('../images/menuButton50.png');	
	background-position: 0px 0px;
	position: absolute;
	right:0px;
	top:0px;
}
.sidebar-close:hover{
	background-color: #2f363e;
}

.user-image-panel{
	height:150px;
}
.user-image-container{
	background-color: #2f363e;
	width:120px;
	height:120px;
	border-radius: 50%;
	margin: 40px auto;
	overflow: hidden;
}
.user-image{
	background-image: url('../images/network60.png');
	background-size: 120px;
	width: 120px;
	height: 120px;
	
}

.user-name{
	text-align: center;
	font-size: 20px;
	color: #00aad4;
	font-family: 'Oswald', sans-serif;
}
.user-name-panel{
	margin-bottom: 20px;
}

.user-menu-panel{margin: 20px 0; }
.user-menu-item{
	font-family: 'Oswald', sans-serif;
	height:50px;
	 cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.user-menu-item:hover{
	background-color: #2f363e;

}
.user-menu-item-text{
	color: #888;
	padding-top: 15px;
	padding-left: 30px;
}

.selected-menu-item{
	border-right: 5px solid #00aad4;
}
.user-categories-panel{

	margin:  20px 0;
}
.user-category-item{
	font-family: 'Oswald', sans-serif;
	height:50px;
	 cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.user-category-item:hover{
	background-color: #2f363e;
}
.user-category-item-text{
	float: left;
	padding-top: 15px;
	padding-left: 30px;
	color: #888;
	
}.user-category-item-count{
	float: right;
	color: #111;
	margin-right: 20px;
	margin-top: 15px;
	font-weight: 700;
	font-size: 11px;
	background-color: #eee;
	width:20px;
	height:20px;
	border-radius: 50%;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
}

.user-seperator{
	height:2px;
	width:100%;
	border-top: 1px solid #1c2023;
	border-bottom: 1px solid #333335;
}



.overlay{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	height: 100%;
	left: 0;
	right: 0;
	z-index: 9999;
}

.add-source-panel{
	background-color: #FEFEFE;
	padding-bottom: 30px;
	margin-top: 100px;
}
.add-source-topbar{
	height:50px;
	background-color: #2f363e;
	
}
.add-source-title{
	text-align: center;
	color:#fefefe;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 10px;
	float: left;
	width:100%;
	height:50px;
	
}
.add-source-close{
	background: url('../images/menuButton50.png');	
	height:50px;
	width: 50px;
	float: right;
	margin-top: -50px;
	background-position: -50px 0px;
}
.add-source-close:hover{
	background-color: #212429;	

}
.add-source-url-input-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
		
}
.add-source-input-label{
	margin-top: 10px;
	width:70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Oswald', sans-serif;
}
.add-source-url-input{
	width: 100%; 
	box-sizing: border-box;
	background-color: #ddd;
	border: none;
	height:30px;
	margin-top: 5px;
	padding-left: 10px;
	color:#00aad4;
}
.add-source-url-input:focus{
	outline: none;
}

.add-source-category-input-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
.add-source-category-input{
	width: 100%; 
	box-sizing: border-box;
	background-color: #ddd;
	border: none;
	height:30px;
	margin-top: 5px;
	padding-left: 10px;
	color:#00aad4;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.add-source-category-input:focus{
	outline: none;
	font-style: italic
}
.add-source-category-name-input-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
.add-source-category-name-input{
	width: 100%; 
	box-sizing: border-box;
	background-color: #ddd;
	border: none;
	height:30px;
	margin-top: 5px;
	padding-left: 10px;
	color:#00aad4;
}
.add-source-category-name-input-container[class~=hidden]{
	visibility: hidden;
}
.add-source-input-label[class~=hidden]{
	visibility: hidden;
}
.add-source-add-button-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.add-source-add-button{
	background-color: #2f363e;
	font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-top: 5px;
    height: 40px;
    text-align: center;
    color: #eee;
}
.add-source-add-button:hover{
	background-color: #00aad4;
}

/*SETTINGS*/
.form-settings-input-container{
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.form-settings-label{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5px;
}
.form-settings-input{
	outline: 0px;
	width:100%;
	border: 0px;
	background-color: #ccc;
	height:30px;
	padding-left: 10px;
}
.form-settings-input:hover, .form-settings-input:focus{
	background-color: #ddd;
	outline: 0px;
}

.form-settings-submit{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 5px;
	margin-top: 30px;
	background-color: #212429;
	height: 40px;
	text-align: center;
	color:#eee;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.form-settings-submit:hover{
	background-color: #00aad4;
}


@media (max-width: 992px) {
    .content{
        margin-left: 0px;
    }
	.topbar-panel{
		height:100px;
	}
	.sidebar-small-show{
		display: block !important;
		visibility: visible !important;
		width:100%;
	}
	.menu-button{
		background-position: 0px 0px;	
	}
}